@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&display=swap");

$ff: "League Spartan", sans-serif;
$regular: 400;
$medium: 500;
$bold: 700;

//MIX IN
@mixin flex($direction, $align: initial) {
  display: flex;
  flex-direction: $direction;
  align-items: $align;
}

//======COLOR======//
$clr-primary400: hsl(333, 80%, 67%);
$clr-primary500: hsl(300, 43%, 22%);
$clr-neutral100: hsl(0, 0%, 100%);
$clr-neutral90: hsl(300, 24%, 96%);
$clr-neutral400: hsl(303, 10%, 53%);
